
:root {
    --primary-color: #8e44ad; /* Purple */
    --secondary-color: #2c3e50; /* Dark blue-gray */
    --text-color: #ecf0f1; /* Light gray */
    --hovered-color: #9b59b6; /* Hovered Purple */
    --hovered-color-p: #8e698e; /* Light Purple */
}

/* General styles */
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

header.menu {
    background: linear-gradient(to left, #8e44ad, #2c3e50, #8e44ad);
    box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

header.menu h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 0.7rem;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.65rem 0.8rem;
    border-radius: 0.65rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: var(--hovered-color); /* Changed purple for hover */
    color: #ffffff; /* White */
    transform: scale(1.20);
    box-shadow: black;
}

button.home {
    background-color: black;
    color: white;
}

button.home:hover {
    background-color: white;
    color: black;
}

h2,
h3,
p {
    max-width: 100%;
    overflow-wrap: break-word;
    transition: transform 0.3s, color 0.3s;
}

h2 {
    font-size: 2em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-bottom: 0.2rem solid var(--primary-color);
}

h2:hover {
    color: var(--hovered-color);
}

h3 {
    font-size: 1.5em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

h3:hover {
    color: var(--hovered-color);
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--text-color);
}

p:hover {
    color: var(--hovered-color-p);
}

.loader {
    border: 0.3rem solid #f3f3f3;
    border-top: 0.3rem solid #3498db;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
    margin: 20% auto;
}

/* Define the animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a2348;
    z-index: 999; /* Ensure it appears above other content */
    padding: 0.5rem;
}

.jahoda {
    color: var(--text-color);
    font-size: 20em;
    text-align: center;
    padding-top: 0.535em;
    font-family: "Arial Black", serif;
    animation: jahodaColorChange 10s infinite;
}

.jahoda span:hover {
    color: var(--primary-color);
    text-shadow: 1rem 1rem 1rem var(--text-color);
}

@keyframes jahodaColorChange {
    0% { color: var(--text-color); }
    50% { color: var(--primary-color); }
    100% { color: var(--text-color); }
}

div.code-box p {
    color: white;
    padding: 1rem;
    font-family: Bahnschrift, serif;
    font-size: 1rem;
}

div.code-box {
    background-color: black;
    margin: 1rem;
    border-radius: 0.5rem;
}

p a {
    color: black;
    text-decoration: none;
}

.box-model {
    width: 50rem;
    float: right;
}

img.home-button {
    width: 0.7rem;
    border-radius: 1000000%;
}

.flex-container {
    display: flex;
}
.flex-item {
    flex: 1;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 2rem;
}

@keyframes wanderingMotion {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(10rem, 10rem);
    }
    25% {
        transform: translate(15rem, 17rem);
    }
    37.5% {
        transform: translate(40rem, 30rem);
    }
    50% {
        transform: translate(0, 0);
    }
    62.5% {
        transform: translate(-10rem, -10rem);
    }
    75% {
        transform: translate(-15rem, -17rem);
    }
    87.5% {
        transform: translate(-40rem, -30rem);
    }
    100% {
        transform: translate(0, 0);
    }

}

.wandering-button {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: wanderingMotion 30s linear infinite;
}
